doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title joom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Joom
        main
            form(id="nickname")
                input(type="text" placeholder="choose a Nickname", required=True)
                button  Setting A NickName
            ul
            form(id="message")
                input(type="text" placeholder="write a msg", required=True)
                button  Send
        
        button call
        script(src="/public/js/app.js")
